#weather{
  margin:10px;
  border: 4px solid white;
  position: absolute;
  top: 121px;
    left: 225px;
  height: 410px;
  width: 296px;
  display: flex;
  flex-flow: column;
  max-width: 500px;
  min-width: 210px;
  max-height: 450px;
  min-height: 410px;
}


#current{
  height: 170px;
  width: 100%;
  border: 1px solid white;
  background-color: lightskyblue;
  flex-grow: 3;
}


#forecast{
  width: 100%;
  height: 200px;
}


#dayfore{
  width: 100%;
  height: 49px;
  position: relative;
  float: left;
  border-bottom: 1px solid gray;
  display: inline-block;
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
}

#forecast img{
  width: 47px;
  height: 44px;
  float:left;
  margin-top: 2px;
  margin-left: 7px;
}

#forecast p{
  float: left;
  margin-left: 27px;
  /* text-align: center; */ */
  font-size: small;
  display: inline-block;
  font-size: smaller;
  width: 70px;
}


#weathericon{
  height: 33%;
  /* border-bottom: 1px solid black; */
}

#weathericon img{
  text-align: center;
  /* margin-left: 33%; */
  height: 70px;
  position: relative;
  top: 1px;
  /* justify-content: center; */
  /* width: 100%; */
  position: relative;
  margin: auto;
  display: block;
}

#weathertemp{
  height: 30%;
  /* border-bottom: 1px solid black; */
  text-align: center;
  margin: 0;
}

#weathertemp p{
  height: auto;
  text-align: center;
  margin: 0;
  position: relative;
  top: 8px;
}

#weathersearch p{
  margin: 0;
  text-align: center;
  z-index: 1;

}

.tempFont{
  font-size: 45px;
}

#weathersearch #weatherLoc{
  z-index: 1;
  position: relative;
  top: -23px;
  width: 100%;
  height: 20px;
  font-size: smaller;
  font-family: inherit;
}

#weathersearch{
  height: 39%;
  padding-top: 9%;
  vertical-align: middle;
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
}


.behind{
  z-index: -1 !important;
}


.resizer{
  width:10px;
  height:10px;
  background-color: red;
  right:0;
  bottom:0;
  cursor:se-resize;
  position: absolute;
  z-index: 9;
}
