#clock{
  width: auto;
  height: auto;
  border: 1px solid black;
  margin: 10px;
  border-radius: 5px;
  background-color: white;
  border: 2px solid #666666;
  text-align: center;
  font-size: 25px;
  z-index: 0;
  left: 275px;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction:column;
  min-width: 150px;
  min-height: 136px;
  max-width: 550px;
  max-height: 450px;
}

#time{
text-align: center;
display: inline-flex;
justify-content: center;
}

#csettings{

  color: black;
  z-index: 2;
  position: absolute;
  right: 0;
  top: 0;
  flex-grow: 3;
}

#sett {
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: red;
  display:inline-flex;
  transition: 0.5s;
}

.hidden {
  opacity: 0;
  height: 0;
  /* transition: 1s; */
}

.set{
  //border: 1px solid black;
  position: relative;
  margin: auto;
  width: 200px;
  height: 125px;
}

#cformat{
  color: black;
}

#csettings:hover{
  color: blue;
  transition: 0s !important;
}

#clock p{
  margin: 0;
    margin-top: 5px;
}

.unit{
}

.blink{
  color: white;
}

.ampm{
  font-size: 12px !important;
  top: 0;
}

.material-icons{
  font-size:initial !important;
}
