#clock{
  left: 668px;
  top: 22px;
  height: 158px;
  width: 224px;
  border: 1px solid black;
  margin: 10px;
  border-radius: 5px;
  background-color: white;
  border: 2px solid #666666;
  text-align: center;
  font-size: 25px;
  z-index: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction:column;
  min-width: 150px;
  min-height: 136px;
  max-width: 550px;
  max-height: 450px;
}

#time{
text-align: center;
display: inline-flex;
justify-content: center;
}

#csettings{

  color: black;
  z-index: 1;
  position: absolute;
  right: 0;
  top: 0;
  flex-grow: 3;
}

#sett {
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: red;
  display:inline-flex;
  transition: 0.5s;
  max-width: inherit;
  max-height: inherit;
}

.hidden {
  opacity: 0;
  height: 0;
  /* transition: 1s; */
}

.set{
  position: relative;
  margin: auto;
  width: 200px;
  height: 125px;
}

#cformat{
  color: black;
}

#csettings:hover{
  color: blue;
  transition: 0s !important;
}

#clock p{
  margin: 0;
    margin-top: 5px;
}

.unit{
}

.blink{
  color: white;
}

.ampm{
  font-size: 12px !important;
  top: 0;
}

.material-icons{
  font-size:initial !important;
}

#alarm{
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: white;
  display: flex;
  flex-direction: column;
  max-width: inherit;
  max-height: inherit;
  min-width: inherit;
  min-height: inherit;
}

#clock .fafa-clock-o{
  font-size: 12px;
}


#alarmIcon{
  font-size: 24px !important;
  position: absolute;
  color: black;
  top: 0;
  left: 5;
  z-index: 1
}

#alarm #panel{
  /* border: 1px solid black; */
  height: 49.5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: scroll;
  max-width: inherit;
  max-height: inherit;
  min-width: inherit;
  min-height: inherit;
}


#alarm input{
  width: 70%;
    margin: auto;
    height: 50px;
}

#alarm form{
  margin: auto;
}

#alarm section{
  width: 100%;
}


#clockImage{
  width: 65px;
  height: 60px !important;
  margin: 10;
  position: absolute;
  top: 3px;
  gin: 0;
}


#alarm img{
  max-width: 100%;
  max-height: 100%;
}

.alarmDiv{
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  /* width: 100%; */
  height: auto;
  /* justify-content: space-between; */
  position: relative;
}


#alarm h1{
  font-size: 23px;
  width: 100%;
  margin: auto;
}


#alarm p{
  font-size: 19px;
  /* margin: 29px; */
}


#alarmOff input{
  height: 45px;
  width: 100%;
  font-size: 34px;
  color: black;
  background-color: red;
  max-width: inherit;
}

#alarmOff{
  width: inherit;
  height: 100px;
  position: absolute;
  bottom: 0;
  max-width: inherit;
}
