#calendar{
  border: 1px solid black;
  width: 250px;
  position: absolute;
  background-color: white;
  left: 581px;
  height: auto;
  display: flex;
  flex-direction: column;
  max-width: 253px;
  max-height: 244px;
  min-width: 253px;
  min-height: 244px;
}

#months{
  list-style: none;
  height: 40px;
  padding: 0;
  background-color: black;
  /* margin-top: -16px; */
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: space-around; */
  /* flex-wrap: wrap; */
}



#days li:hover{
  color: blue;
  cursor: pointer;
  border-color: black;
  ed; */
  font-size: inherit;
}

#previousM{
}


#currentDate{
  margin: 0;
  padding: 0;
  text-align: center;
  position: relative;
  top: 3px;
}

.current{
  border: 2px solid black !important;
  color: red !important;
}


#nextM{
  /* float: right; */
  font-size: 30px;
  /* width: 59px; */
  /* position: relative; */
  /* left: 40px; */
  color: white;
  /* top: 30px; */
}

#months #currentMonth{
  font-size: 21px;
  text-align: center;
  width: 146px;
  color: white;
  /* position: relative; */
  /* top: 0px; */
  color: white;
  margin: auto;
}



#weekdays {
  margin: 0;
  padding: 0px;
  border-bottom: 1px solid black;
  height: 20px;
  width: inherit;
  max-width: 253px;
  min-width: 253px;
}

#weekdays li {
    display: inline-block;
    width: 31px;
    text-align: center;
    font-size: 12px;
}


#previousM{
    float: left;
    margin: auto;
    font-size: 19px;
    width: 59px;
    position: relative;
    left: 0;
    color: white;
    top: 14px;
}

#today{
    height: 25px;
    border-top: solid black 1px;
    position: relative;
    top: 15px;
}

#currentDate{
    margin: 0;
    padding: 0;
    text-align: center;
}

.current{
    border: 2px solid black !important;
    color: red !important;
}


#nextM{
    float: right;
    margin: auto;
    font-size: 19px;
    /* width: 59px; */
    position: relative;
    /* left: 40px; */
    color: white;
    top: -52px;
}


#year{
    text-align: center;
    /* margin: 0; */
    /* left: 110px; */
    position: relative;
    top: -13px;
    color: white;
    font-size: 12px;
    /* display: inline-block; */
}


#days {
    padding: 0;
    height: inherit;
    width: inherit;
    margin: 0;
    max-width: 253px;
    max-height: 244px;
    min-width: 253px;
    min-height: 244px;
}

#days li {
  list-style-type: none;
  display: inline-block;
  width: 24.5px;
  text-align: center;
  margin-bottom: 6px;
  margin-left: 10px;
  margin-right: 0px;
  border: 1px solid white;
  box-sizing: border-box;
  margin-top: 8px;
  font-size: 12px;
}

#events{
  /* height: auto; */
  border: 1px solid black;
  /* transition: 0.5s; */
  min-height: 215px;
  max-height: 645px;
  min-width: 339px;
  max-width: 800px;
  width: 300px;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  background: white;
}

#events h1{
  text-align: center;
  font-size: 12px;
}

#event{
  list-style: none;
    position: relative;
    margin: auto;
    display: block;
    text-align: center;
}

#eventoption{
  height: 50px;
  border-bottom: 1px solid black;
  /* width: auto; */
  /* display: flex; */
  flex-direction: row;
  /* flex-wrap: wrap; */
}

.eventsbutton{
  display: inline-flex;
  list-style-type: none;
}


#events ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
}

#days ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.eventsbutton {
    /* float: left; */
    /* display: block; */
    /* text-align: center; */
    /* padding: 4px 16px; */
    text-decoration: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    /* position: relative; */
    /* top: 50%; */
}

.eventsbutton:hover{
  background-color: red;
  cursor: pointer;
}

#todayE{
  border-right: 2px solid black;
}

.ev{
  /* max-height: 311px; */
  /* min-height: 95px; */
  /* height: 98px; */
  overflow: auto;
  height: auto;
}

.active{
  background-color: blue;
}



#events section p{
  /* text-align: center; */
  /* margin: 6px; */
  font-size: 12px;
  position: relative;
  top: -79px;
  width: 100%;
  /* left: 14px; */
  /* float: left; */
  /* width: auto; */
  text-align: center;
}

#events section{
  /* border-bottom: 1px solid black; */
  max-height: 100%;
  background-color: lightskyblue;
  color: black;
  width: 100%;
  border: 1px solid black;
  display: inline-flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  /* justify-content: center; */
  height: 164px;
}

#events h1{
  text-align: center;
  font-size: 18px;
  /* height: 10%; */
  /* margin: 0px; */
  font-family: Helvetica;
  font-weight: bold;
  position: relative;
  top: -69px;
  /* left: 30px; */
  width: 100%;
  /* float: left; */
  /* height: 5px; */
}

#eventday{
    border: 2px solid black;
    width: 66px;
    height: 60px;
    border-radius: 5px;
    position: relative;
    left: 20px;
    top: 25px;
    /* float: left; */
    background-color: lightblue;
    margin: 3px;
    /* display: flex; */
    /* justify-content: center; */
}

#eventday .weekday{
  height: 10px;
  border-bottom: 1px solid black;
  font-size: 10px;
  text-align: center;
  background-color: whitesmoke;
}


#eventday .day{
  height: 27px;
  border-bottom: 1px solid black;
  text-align: center;
  padding-top: 10px;
  background-color: whitesmoke;
}

#eventday .month{
  height: 11px;
  font-size: 10px;
  text-align: center;
  background-color: whitesmoke;
}

.hasEvent{
  background-color: lightblue;
}


#hideEvents{
  text-align: center;
  /* height: 35px; */
  /* top: 13px; */
  position: relative;
}

#createEvent{
  position: relative;
  top: 150px;
  left: -87px;
  height: 30px;
  display: inline-block;
  /* padding: 50px; */
  /* border: none; */
}

#addEvents{
  position: absolute;
  height: 400px;
  width: 350px;
  z-index: 1;
  background-color: lightblue;
  border-radius: 23px;
  left: -400px;
  top: 50px;
  transition: 1s;
}

#exit{
  color: black;
  position: relative;
  left: -8px;
}


#filler{
  width: 120px;
  display: inline-block;
  float: left;
  margin-top: 35px;
  margin-left: 21px;
  }

  .aCLASS{
    display: inline-block;
    float: left;
    margin-top: 24px;
    height: 41px;
  }

#remove{
  /* float: left; */
  /* left: 97%; */
  ht: 0;
  /* bottom: 0; */
  cursor: pointer;
  /* width: 10px; */
  /* height: 17px; */
  position: relative;
  /* top: -60px; */
  font-size: 20px;
  color: red;
  display: inline-flex;
  /* text-align: center; */
  /* display: inline-block; */
  justify-content: center;
}

#droptarget{
  height: 500px;
  width: 400px;
  position: absolute;
}

#drophere{
  height: 1080px;
}

.allowdrop{
  z-index: 999;
}


#eventdesc{
  /* float: left; */
  /* width: 150px !important; */
}


.hiddenevent{
  height: 0 !important;
  min-height: 0;
  max-height: 0;
}


#addEvents input{
  border-radius: 5px;
  color: black;
}


#calendar form{
  margin: 0;
}
